<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        {% load static %}
    <link rel="stylesheet" href="{% static 'webapp/singup.css' %}">
</head>
<body>
    <h1>Sing Up</h1>

    <form action="/singup/" method="post">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="Enter your username"><br><br>

         <label for="first-name">First name:</label>
        <input type="text" id="first-name" name="first-name" placeholder="Enter your first name"><br><br>

         <label for="last-name">Last name:</label>
        <input type="text" id="last-name" name="last-name" placeholder="Enter your last name"><br><br>

         <label for="email">Email:</label>
        <input type="text" id="email" name="email" placeholder="Enter your email"><br><br>
        
         <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter your password"><br><br>

         <label for="confirm-password">Re-enter your password:</label>
        <input type="password" id="confirm-password" name="confirm-password" placeholder="Re-enter your password"><br><br>

        <button type="submit">Sign Up</button>

    </form>
</body>
</html>